<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Monitor MiniDLNA</title>
        <link href="css/bootstrap.css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="images/navicon.png" alt="Logo" width="32" class="d-inline-block align-text-top">
            MiniDLNA Web Rebuild
            </a>
        </div>
        </nav>

        <!-- PAGE-CONTENT -->

        <script src="js/bootstrap.bundle.js"></script>
        <script src="js/minidlna-web-rebuild.js"></script>
    </body>
</html>