<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MiniDLNA Web Rebuild</title>
        <link href="css/bootstrap-darkly.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <!-- Favicons -->
		<link rel="icon" href="images/logo.png" type="image/png">
    </head>
    <body>

        <nav class="navbar bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="images/navicon.png" alt="Logo" width="32" class="d-inline-block align-text-top">
            MiniDLNA Web Rebuild
            </a>
        </div>
        </nav>

        <div class="centerpage">

            <!-- PAGE-CONTENT -->

            <div class="container">			
                <div style="height: 64px;"></div>        
                <div class="container">
                    <footer class="bs-footer footertext text-center" role="contentinfo">
                        <p><!-- APP-TITLE --> - version <!-- VERSION --> </p>
                    </footer>
                </div>
            </div>

        </div>

        <script src="js/bootstrap.bundle.js"></script>
    </body>
</html>