<style>
    /* Rotating animation for refresh icon */
    @keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    .rotating {
        animation: rotate 1s linear infinite;
        display: inline-block;
    }
</style>

<div class="container mt-5">

    <div class="row text-center g-3 ">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="h2 mb-0">
                Audio <span id="audioFiles" class="badge rounded-pill text-bg-success">0</span>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="h2 mb-0">
                Video <span id="videoFiles" class="badge rounded-pill text-bg-success">0</span>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="h2 mb-0">
                Images <span id="imageFiles" class="badge rounded-pill text-bg-success">0</span>
            </div>
        </div>
    </div>

    <div style="height: 64px;"></div>

    <div class="row text-center g-2 align-items-center">

        <div class="col-12 col-sm-4 col-md-4">
            <button type="button" id="rebuildBtn" class="btn btn-primary btn-lg w-100" >
                <i class="bi bi-arrow-clockwise"></i> Rebuild
            </button>
        </div>    

        <div class="col-12 col-sm-4 col-md-4">
            <button type="button" id="coverBtn" class="btn btn-primary btn-lg w-100" >
                <i class="bi bi-image"></i> Get Cover
            </button>
        </div>

        <div class="col-12 col-sm-4 col-md-4">
            <button type="button" id="clearBtn" class="btn btn-primary btn-lg w-100" onclick="clearResult()">
                <i class="bi bi-eraser"></i> Clear
            </button>
        </div>

    </div>

    <div class="row text-center g-2 align-items-center">

        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">Result</span>
                <textarea rows="10" id="resultArea" class="form-control" readonly></textarea>
            </div>
        </div>

    </div>
    
</div>
<script src="js/minidlna-web-rebuild.js"></script>
